{{template "base" .}}
{{define "content"}}
    <form action="/create" method="POST">
         <label for="poll_question">User</label>
         <input type="text" id="poll_question" name="new_question" />
         <div>
            <input type="submit" value="Create question" />
         </div>
    </form>
{{end}}